<div class="container">
  <div class="banner">
      <h1>VinYin YOGA</h1>
      <h4>Specialists in Vinyasa & Yin Yoga</h4>
      <p>Enlgish language yoga in Hilversum. Subscribe to our newsletter for more detials.</p>
      <div class="newsletter-name-email">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Email Address" name="mail" required>
      <div class="newsletter-submit">
        <input type="submit" value="Subscribe">
      </div>
    </div>
  </div>
</div>
