<div class="container">
  <div class="banner">
    <div class="text-container">
      <h1>VinYin YOGA</h1>
      <h4>Specialists in Vinyasa & Yin Yoga</h4>
      <p>Yoga in English, located in central Hilversum. Opening soon.</p>
      <p><em>Sign up below for more information when we beging</em></p>
    </div>
  </div>
</div>
