<div class="container">
  <div class="banner">
    <div class="text-container">
      <h1>VinYin YOGA</h1>
      <h4>Specialists in Vinyasa & Yin Yoga</h4>
      <p>Yoga in English, located in central Hilversum. Opening soon.</p>
      <p><em>Sign up below for more information when we beging</em></p>
      <div sign-up form here>
      </div>
    </div>
      <footer>
    <div class="footer">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a><a href="#"><i class="fa-brands fa-square-instagram"></i></a><a href="#"><i class="fa-brands fa-square-youtube"></i></a><a href="#"><i class="fa-brands fa-tiktok"></i></a><a href="#"><i class="fa-brands fa-google"></i></a></div>
      <h6 class="copyright"> <strong>VinYin Yoga</strong> &copy; 2022</h6>
    </div>
  </footer>
  </div>
</div>
